<main>
    <section class="login-section" id="loginSection">
        <div class="login-container">
            <div class="login-user">
                <label>User</label>
                <input>
            </div>
            <div class="login-password">
                <label>Password</label>
                <input>
            </div>
            <div class="login-button">
                <button>
                    login

                </button>
            </div>
            <div>
                <p>
                    <a href="">
                        Forgot my password?
                    </a>

                </p>
            </div>
        </div>
    </section>



</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>